<a href="https://colab.research.google.com/github/cdbm/F1DataAnalysis/blob/master/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
circuits=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/circuits.csv")
constructor_results=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/constructor_results.csv")
constructor_standings=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/constructor_standings.csv")
constructors=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/constructors.csv")
driver_standings=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/driver_standings.csv")
drivers=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/drivers.csv")
lap_times=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/lap_times.csv")
pit_stops=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/pit_stops.csv")
qualifying=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/qualifying.csv")
races=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/races.csv")
results=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/results.csv")
seasons=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/seasons.csv")
status=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/status.csv")

# Circuitos

In [ ]:
circuits['circuitRef'] = circuits['circuitRef'].astype('category')
circuits['name'] = circuits['name'].astype('category')
circuits['location'] = circuits['location'].astype('category')
circuits['country'] = circuits['country'].astype('category')
circuits['alt'] = circuits['alt'].astype('category')

Descrição dos dados:

circuitId: categórico nominal <br/>
circuitRef: categórico nominal<br/>
name: categórico nominal<br/>
location: categórico nominal<br/>
country: categórico nominal<br/>
lat: Contínuo<br/>
lng: Contínuo<br/>
alt: categórico nominal </br>
url: categórico nominal <br/>

In [ ]:
circuits.head()

In [ ]:
circuits.dtypes

In [ ]:
circuits['country'].cat.categories

Localização dos ciruitos no mapa

In [ ]:
circuits.plot.scatter(x='lng', y='lat')

Países com mais circuitos

In [ ]:
circuits.groupby(['country']).agg(['count'])['circuitId'].sort_values(by='count', ascending=False)

# Construtores

In [ ]:
constructors['constructorRef'] = constructors['constructorRef'].astype('category')
constructors['name'] = constructors['name'].astype('category')
constructors['nationality'] = constructors['nationality'].astype('category')

Descrição dos dados:

constructorId: categórico nominal <br/>
name: categórico nominal<br/>
nationality: categórico nominal<br/>

In [ ]:
constructors.dtypes

In [ ]:
constructors.head()

Países com mais equipes

In [ ]:
constructors.groupby(['nationality']).agg(['count'])['constructorRef'].sort_values(by='count', ascending=False)

# Desempenho Construtores

In [ ]:
constructor_standings['positionText'] = constructor_standings['positionText'].astype('category')

In [36]:
constructor_standings.dtypes

constructorStandingsId       int64
raceId                       int64
constructorId                int64
points                     float64
position                     int64
positionText              category
wins                         int64
dtype: object

In [32]:
constructor_standings.head()

   constructorStandingsId  raceId  constructorId  ...  position  positionText wins
0                       1      18              1  ...         1             1    1
1                       2      18              2  ...         3             3    0
2                       3      18              3  ...         2             2    0
3                       4      18              4  ...         4             4    0
4                       5      18              5  ...         5             5    0

[5 rows x 7 columns]

In [43]:
constructor_standings['year'] = races['year']
ferrari_standings=constructor_standings[constructor_standings.constructorId == 6]
ferrari_standings.sort_values(by="year")

       constructorStandingsId  raceId  constructorId  ...  positionText  wins    year
838                      6237     100              6  ...             1    10  1950.0
828                      6227      99              6  ...             1     9  1951.0
818                      6217      98              6  ...             1     8  1952.0
808                      6207      97              6  ...             1     7  1953.0
798                      6197      96              6  ...             1     6  1954.0
...                       ...     ...            ...  ...           ...   ...     ...
12327                   27474    1031              6  ...             3     0     NaN
12337                   27484    1032              6  ...             5     0     NaN
12351                   27504    1033              6  ...             5     0     NaN
12357                   27524    1035              6  ...             3     0     NaN
12367                   27534    1036              6  ...             5     0     NaN

[957 rows x 8 columns]

In [45]:
races.sort_values(by='year')

      raceId  year  ...      time                                                url
838      839  1950  ...        \N  http://en.wikipedia.org/wiki/1950_Italian_Gran...
837      838  1950  ...        \N  http://en.wikipedia.org/wiki/1950_French_Grand...
836      837  1950  ...        \N  http://en.wikipedia.org/wiki/1950_Belgian_Gran...
835      836  1950  ...        \N  http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
834      835  1950  ...        \N  http://en.wikipedia.org/wiki/1950_Indianapolis...
...      ...   ...  ...       ...                                                ...
1020    1033  2020  ...  13:10:00  https://en.wikipedia.org/wiki/2020_Hungarian_G...
1018    1031  2020  ...  13:10:00  https://en.wikipedia.org/wiki/2020_Austrian_Gr...
1029    1042  2020  ...  12:10:00  https://en.wikipedia.org/wiki/2020_Portuguese_...
1023    1036  2020  ...  13:10:00  https://en.wikipedia.org/wiki/2020_Spanish_Gra...
1030    1043  2020  ...  13:10:00  https://en.wikipedia.org/wiki/2020_Emilia_Roma...

[1031 rows x 8 columns]