<a href="https://colab.research.google.com/github/cdbm/F1DataAnalysis/blob/master/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
results=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/results.csv")
lap_times=pd.read_csv("https://raw.githubusercontent.com/cdbm/F1DataAnalysis/master/f1_data/lap_times.csv")

In [15]:
results = results[results.position != '\\N']
results = results[results.milliseconds != '\\N']
results = results[results.fastestLapSpeed != '\\N']

In [16]:
results

       resultId  raceId  driverId  ...  fastestLap  rank fastestLapSpeed
0             1      18         1  ...          39     2         218.300
1             2      18         2  ...          41     3         217.586
2             3      18         3  ...          41     5         216.719
3             4      18         4  ...          58     7         215.464
4             5      18         5  ...          43     1         218.385
...         ...     ...       ...  ...         ...   ...             ...
24711     24717    1035        20  ...          49    13         233.602
24712     24718    1035       832  ...          49     9         234.193
24720     24726    1036         1  ...          63     2         209.942
24721     24727    1036       830  ...          53     4         205.677
24722     24728    1036       822  ...          66     1         214.343

[3070 rows x 12 columns]

In [5]:
results.positionText.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', 'R', 'D', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', 'N',
       '22', '23', '24', 'E'], dtype=object)

In [6]:
results.positionOrder.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 22,
       17, 18, 19, 20, 21, 23, 24])

In [7]:
races = results.raceId.unique()

In [8]:
results = results.drop('number', axis=1)
results = results.drop('statusId', axis=1)
results = results.drop('time', axis=1)
results = results.drop('fastestLapTime', axis=1)
results = results.drop('positionOrder', axis=1)
results = results.drop('positionText', axis=1)

In [9]:
results

       resultId  raceId  driverId  ...  fastestLap  rank fastestLapSpeed
0             1      18         1  ...          39     2         218.300
1             2      18         2  ...          41     3         217.586
2             3      18         3  ...          41     5         216.719
3             4      18         4  ...          58     7         215.464
4             5      18         5  ...          43     1         218.385
...         ...     ...       ...  ...         ...   ...             ...
24735     24741    1036       841  ...          47     6         204.863
24736     24742    1036       847  ...          37    15         203.119
24737     24743    1036       849  ...          60     9         204.291
24738     24744    1036       154  ...          64     3         208.409
24739     24745    1036       844  ...          35    20         199.576

[6339 rows x 12 columns]

In [17]:
results.position = results.position.astype('category')
results.fastestLapSpeed = results.fastestLapSpeed.astype('float64')
results.milliseconds = results.milliseconds.astype('int64')

In [ ]:
results.dtypes

In [ ]:
results.position.unique()

In [18]:
from sklearn.model_selection import train_test_split
x_results = results.drop('position', axis=1)
y_results = results['position']

In [ ]:
x_results

In [ ]:
y_results

In [20]:
Xtrain, Xtest, ytrain, ytest = train_test_split(x_results, y_results,random_state=1)

In [21]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=4)             
model.fit(Xtrain, ytrain)                  
y_model = model.predict(Xtest)   
ypred_train = model.predict(Xtrain)

In [22]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score
print("ACC TRAINING:" + str(accuracy_score(ytrain, ypred_train)))
print("ACC TEST:" + str(accuracy_score(ytest, y_model)))

ACC TRAINING:0.3318853171155517
ACC TEST:0.045572916666666664